<div class="container">
    <h3>Вход</h3>
    
    <form #form="ngForm" id="login-form" (ngSubmit)="loginHandler(form)">
      <div class="form-field">
        <label for="user-name">
          Имейл
        </label>
        <input #emailInput="ngModel" ngModel type="text" name="email" id="user-name" size="50" required email />
      </div>
      <ng-container *ngIf="emailInput.touched">
        <p *ngIf="emailInput.errors?.['required']">Error</p>
        <p *ngIf="emailInput.errors?.['email']">Невалиден имейл</p>
      </ng-container>
      
      <div class="form-field">
        <label for="pass">
          Парола
        </label>
        <input #passwordInput="ngModel" ngModel type="password" name="password" id="pass" size="50" required />
      </div>
      <ng-container *ngIf="passwordInput.touched">
        <p *ngIf="emailInput.errors?.['required']">Error</p>
      </ng-container>
      
      <div id="form-submit">
        <input [disabled]="form.invalid" type="submit" value="Влез" />
      </div>
    </form>
  
  <div id="register-link">
    <span>
        Нямаш акаунт?
      <a href="#">
        Регистрирай се
      </a>
    </span>
  </div>
</div>