<div class="container">
    <h3>Вход</h3>
    
    <form action="" method="" id="login-form">
      <div class="form-field">
        <label for="user-name">
          Потребителско име
        </label>
        <input type="text" name="user-name" id="user-name" size="50" required autofocus/>
      </div>
      
      <div class="form-field">
        <label for="pass">
          Парола
        </label>
        <input type="password" name="password" id="pass" size="50" required />
      </div>
      
      <div id="form-submit">
        <input type="submit" value="Влез" />
      </div>
    </form>
  
  <div id="register-link">
    <span>
        Нямаш акаунт?
      <a href="#">
        Регистрирай се
      </a>
    </span>
  </div>
</div>