<div class="main">
    <h1>Моите обяви</h1>
    <ul *ngIf="ads?.length" class="cards">
        <li class="cards_item" *ngFor="let ad of ads">
            <div class="card">
                <a [routerLink]="['/ads/details/', ad._id]">
                    <div class="card_image"><img src={{ad.img}}></div>
                        <div class="card_content">
                        <h2 class="card_title">{{ad.title}}</h2>
                        <p class="card_text">{{ad.description | shorten: 200}}</p>
                        <p class="card_text price">{{ad.price}} лева</p>
                        <!-- <button class="btn card_btn">Read More</button> -->
                    </div>
                </a>
            </div>
        </li>
    </ul>
    <div *ngIf="!ads?.length">
        <h2 class="no-ads">Все още нямате добавени обяви</h2>
        <button routerLink="/ads/create" class="btn card_btn no-ads-button">Създайте първата си обява</button>
    </div>
</div>
