<section>
  <!-- <header>
    <h1>PRODUCT DETAIL PAGE</h1>
    <h3>Covered AAA standard <br> of accessibility</h3>
  </header> -->
  <div data-product-detail> 
    <div class="img-card">
      <div class='img'>
        <img src={{ad?.img}} />
      </div>
    </div>
    <div class="product-details">
      <h2>{{ad?.title}}</h2>
      <p>{{ad?.description}}</p>
      <p>Град: {{ad?.city}}</p>
      <p>Телрфон за връзка: {{ad?.tel}}</p>
      <p><span>{{ad?.price}} лева</span></p>
      <div *ngIf="isOwner">
        <button [routerLink]="['/ads/edit/', ad?._id]">Редактирай</button>
        <button (click)="delete()">Изтрий</button>
      </div>
    </div>    
  </div>
</section>