<section>
  <!-- <header>
    <h1>PRODUCT DETAIL PAGE</h1>
    <h3>Covered AAA standard <br> of accessibility</h3>
  </header> -->
  <div data-product-detail>
    <div class="img-card">
      <div class='img'>
        <img src="https://img.freepik.com/free-vector/black-bow-tie-realistic-icon-isolated-white-background_33099-969.jpg?size=626&ext=jpg" />
      </div>
    </div>
    <div class="product-details">
      <h2>TEST</h2>
      <p>Test</p>
      <p>Price</p>
      <p><span>$30.00</span> <span>$60.00</span> <span>(50% OFF)</span></p>
      <button>Buy Now</button>
      <button>Add To Bag</button>
    </div>    
  </div>
</section>