<div class="container">
    <h3>Регистрация</h3>
    
    <form action="" method="" id="login-form">
      <div class="form-field">
        <label for="user-name">
          Потребителско име
        </label>
        <input type="text" name="user-name" id="user-name" size="50" required autofocus/>
      </div>
      
      <div class="form-field">
        <label for="pass">
          Парола
        </label>
        <input type="password" name="password" id="pass" size="50" required />
      </div>

      <div class="form-field">
        <label for="repass">
          Повтори паролата
        </label>
        <input type="password" name="repassword" id="repass" size="50" required />
      </div>
      
      <div id="form-submit">
        <input type="submit" value="Регистрирай се" />
      </div>
    </form>
  
  <div id="register-link">
    <span>
        Вече имаш акаунт?
      <a href="#">
        Вход
      </a>
    </span>
  </div>
</div>