<div class="container">
    <h3>Редактирай обявата</h3>
    
    <form #form="ngForm" id="create-form" (ngSubmit)="editHandler(form)">
      <div class="form-field">
        <label for="title">
          Заглавие
        </label>
        <input #titleInput="ngModel" ngModel  [(ngModel)]="ad!.title" type="text" name="title" id="title" size="50" required ngValue="akkk"  />
      </div>
      <ng-container *ngIf="titleInput.touched">
        <p *ngIf="titleInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div class="form-field">
        <label for="desc">
          Описание
        </label>
        <textarea #descInput="ngModel" rows="5" ngModel [(ngModel)]="ad!.description" type="text" name="description" id="description" required></textarea>
      </div>
      <ng-container *ngIf="descInput.touched">
        <p *ngIf="descInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div class="form-field">
        <label for="desc">
          Снимка
        </label>
        <input #imgInput="ngModel" ngModel type="text" name="img" [(ngModel)]="ad!.img" id="img" required />
      </div>

      <ng-container *ngIf="imgInput.touched">
        <p *ngIf="imgInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div class="form-field">
        <label for="tel">
          Телефон за връзка
        </label>
        <input #telInput="ngModel" ngModel [(ngModel)]="ad!.tel" type="number" name="tel" id="tel" required />
      </div>

      <ng-container *ngIf="telInput.touched">
        <p *ngIf="telInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div class="form-field">
        <label for="price">
          Цена
        </label>
        <input #priceInput="ngModel" ngModel [(ngModel)]="ad!.price" type="number" name="price" id="price" required />
      </div>

      <ng-container *ngIf="priceInput.touched">
        <p *ngIf="priceInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div class="form-field">
        <label for="city">
          Град
        </label>
        <input #cityInput="ngModel" ngModel [(ngModel)]="ad!.city" type="text" name="city" id="city" required />
      </div>

      <ng-container *ngIf="cityInput.touched">
        <p *ngIf="cityInput.errors?.['required']">Полето е задължително</p>
      </ng-container>
      
      <div id="form-submit">
        <input [disabled]="form.invalid" type="submit" value="Запази" />
      </div>
    </form>
</div>