<div class="container">
    <h3>Създай нова обява</h3>
    
    <form #form="ngForm" id="create-form" (ngSubmit)="createHandler(form)">
      <div class="form-field">
        <label for="title">
          Заглавие
        </label>
        <input #titleInput="ngModel" ngModel type="text" name="title" id="title" size="50" required />
      </div>
      <ng-container *ngIf="titleInput.touched">
        <p *ngIf="titleInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div class="form-field">
        <label for="desc">
          Описание
        </label>
        <textarea #descInput="ngModel" rows="5" ngModel type="text" name="description" id="description" required></textarea>
      </div>

      <ng-container *ngIf="descInput.touched">
        <p *ngIf="descInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div class="form-field">
        <label for="desc">
          Снимка
        </label>
        <input #imgInput="ngModel" ngModel type="text" name="img" id="img" required />
      </div>

      <ng-container *ngIf="imgInput.touched">
        <p *ngIf="imgInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div class="form-field">
        <label for="tel">
          Телефон за връзка
        </label>
        <input #telInput="ngModel" ngModel type="number" name="tel" id="tel" required />
      </div>

      <ng-container *ngIf="telInput.touched">
        <p *ngIf="telInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div class="form-field">
        <label for="price">
          Цена
        </label>
        <input #priceInput="ngModel" ngModel type="number" name="price" id="price" required />
      </div>

      <ng-container *ngIf="priceInput.touched">
        <p *ngIf="priceInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div class="form-field">
        <label for="city">
          Град
        </label>
        <input #cityInput="ngModel" ngModel type="text" name="city" id="city" required />
      </div>

      <ng-container *ngIf="cityInput.touched">
        <p *ngIf="cityInput.errors?.['required']">Полето е задължително</p>
      </ng-container>

      <div *ngIf="form.invalid && form.dirty">Всички полета са задължителни</div>
      
      <div id="form-submit">
        <input class="submit" type="submit" value="Добави обявата" />
      </div>
    </form>
</div>