<div class="main">
    <h1>Най-нови Обяви</h1>
    <ul class="cards">
        <li class="cards_item" *ngFor="let ad of ads">
        <div class="card">
            <a [routerLink]="['/ads/details/', ad._id]">
                <div class="card_image"><img src={{ad.img}}></div>
                <div class="card_content">
                    <h2 class="card_title">{{ad.title}}</h2>
                    <p class="card_text">{{ad.description | shorten: 30}}</p>
                    <p class="card_text">{{ad.price}}</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </a>
        </div>
        </li>
    </ul>
</div>
